nav > ul {
  list-style-type: none;
  border: 0;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
  padding: 4px;
  margin: 0;  
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a, nav a:active, nav a:visited, nav a:hover {
  color:blue;
}

